[submodule "ECE264/Outer-World"]
	path = ECE264/Outer-World
	url = https://github.com/Reiuiji/Outer-World.git
[submodule "CIS370/ProcSim"]
	path = CIS370/ProcSim
	url = https://github.com/Reiuiji/ProcSim
[submodule "ECE368/VHDL-Emporium"]
	path = ECE368/VHDL-Emporium
	url = https://github.com/Reiuiji/VHDL-Emporium
[submodule "Network-Security-Programs"]
	path = ECE549
	url = https://github.com/Reiuiji/Network-Security-Programs
[submodule "ECE562/HybridRAID"]
	path = ECE562/HybridRAID
	url = https://github.com/sbrown7792/HybridRAID.git
