## School: University of Massachusetts Dartmouth
## Department: Computer and Electrical Engineering
## Class: ECE 368 Digital Design
## Engineer: Daniel Noyes
##           Massarrah Tannous
##
## Create Date:    SPRING 2014
##
#
# Period constraint for 50MHz operation
#NET "CLOCK" TNM_NET = "CLOCK";
#TIMESPEC TS_CLOCK = PERIOD "CLOCK" 40 ns HIGH 50 %;
#OFFSET = IN 10 ns BEFORE "CLOCK";
#OFFSET = OUT 10 ns AFTER "CLOCK";
#
#
# Soldered 50MHz Clock.
NET "CLOCK" LOC = C9;

##
## LED PINS
## *right to left
##
NET "LED<0>" LOC = "F12";	
NET "LED<1>" LOC = "E12";
NET "LED<2>" LOC = "E11";
NET "LED<3>" LOC = "F11" ;
NET "LED<4>" LOC = "C11";
NET "LED<5>" LOC = "D11";
NET "LED<6>" LOC = "E9" ;
NET "LED<7>" LOC = "F9" ;

##
## PS2 PINS
##
NET "RESET" LOC = K17;
NET "PS2_DATA" LOC = G13;
NET "PS2_CLOCK" LOC = G14 | CLOCK_DEDICATED_ROUTE = FALSE;

#
## VGA pins
##
NET "RED_VGA" LOC = H14;
NET "GREEN_VGA" LOC = H15;
NET "BLUE_VGA" LOC = G15;
NET "HORIZONTAL_SYNC" LOC = F15;
NET "VERTICAL_SYNC" LOC = F14;

